.footer h6 a{
    color: rgb(251, 125, 22);
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.7s ease;
    text-decoration: none;
}
.footer h6 a:hover{
    color: rgb(24, 159, 172);
}